@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url(./images/background.jfif);
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    width: 100%;
}

h1 {
    color: white;
    margin-top: 10%;
    position: relative;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    letter-spacing: .2em;
}

.date-selector > input {
    color : black;
    outline: none;
    height: 3rem;
    opacity: .5;
    margin: 0 2.5px;
}

.date-selector > input:hover {
    opacity: 1;
    transition : 0.2s ease;
}

.date-selector > #datebtn {
    width : 6rem;
}

.countdown-container {
    font-weight: 1000;
    color: white;
    top: 7em;
    display: flex;
    position: relative;
    /* align-items: center; */
}

.countdown-container > div {
    padding: 1.5rem 3rem;
    margin: 0 1rem;
    align-items: center;
}

.disp {
    color: white;
    font-weight: 1000;
}