@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Red Hat Text', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: url("./images/bg-stars.svg") top/100% 80% no-repeat, url("./images/pattern-hills.svg") bottom/100% 20% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#1e1e28), to(#251d2c));
    background: url("./images/bg-stars.svg") top/100% 80% no-repeat, url("./images/pattern-hills.svg") bottom/100% 20% no-repeat, linear-gradient(to bottom, #1e1e28, #251d2c);
    /* background-repeat: no-repeat; */
    color: white;
    height: 100%;
    width: 100%;
}

h1 {
    top: 2em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.countdown-container {
    top: 15rem;
    display: flex;
    position: relative;
    /* align-items: center; */
}

.countdown-container > div {
    padding: 1.5rem 3rem;
    margin: 0 3rem;
    border: 2px solid white;
    align-items: center;
}